<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %m%n"/>
        </Console>

        <!-- General Logs -->
        <File name="IPBFile" fileName="logs/snb.log">
            <PatternLayout pattern="[%-5level] %m%n"/>
        </File>

    </Appenders>

    <Loggers>
        <!-- Application-specific Logger -->
        <Logger name="de.ipb_halle" level="DEBUG" additivity="true">
            <AppenderRef ref="IPBFile"/>
        </Logger>

        <!-- Hibernate Logging -->
        <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate" level="warn" additivity="true">
            <AppenderRef ref="IPBFile"/>
        </Logger>

        <!-- OpenEJB Logging -->
        <Logger name="org.apache.openejb" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="IPBFile"/>
        </Logger>

        <!-- Transaction Logging -->
        <Logger name="jakarta.transaction" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="IPBFile"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="IPBFile"/>
        </Root>
    </Loggers>

</Configuration>
