<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
        </Console>

        <!-- General Logs -->
        <File name="IPBFile" fileName="logs/jcrawler.log">
            <PatternLayout pattern="[%-5level] %c{2} %m%n"/>
        </File>

    </Appenders>

    <Loggers>
        <!-- Application-specific Logger -->
        <Logger name="de.ipb_halle" level="INFO" additivity="false">
            <AppenderRef ref="IPBFile"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console" level="ERROR"/>
            <AppenderRef ref="IPBFile"/>
        </Root>
    </Loggers>

</Configuration>
